body{
	padding-top: 50px;
	
	background-image: linear-gradient(#0097a7, #6dcfd1, #5bb8bb, #b2e2e3);
}

.container{
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 20px;
	top: 20px;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.prioridad {
	margin-left: 5px;
	margin-right: 10px;
}

input[type='text'] {
	margin-bottom: 15px;
}

button{
	width: 100%;
	margin-top: 10px;
	background-color: #0097a7;
	color: #ffffff;
}

.editBtn button{
	width: 30%;
	margin: 10px auto;
}

#btn2{
	background-color: #5bb8bb;
}

.todoList {
	border: 1px solid LightBlue;
	border-radius: 5px;
	padding: 10px;
	color: #454545;
}

.glyphicon-circle-arrow-up,
.glyphicon-circle-arrow-down,
.glyphicon-edit,
.glyphicon-remove{
	cursor: pointer
}

.glyphicon-edit{
	padding-left: 10px;
	padding-right: 10px;
}

.prioridad{
	padding-left: 5px;
}

.item {
	text-transform: capitalize;
	border-bottom: 1px solid SteelBlue;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: #454545;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
	transition: all linear 1s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
	opacity: 0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
	opacity: 1;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

