<h2>Registro de Consumo</h2>
<form>
		<h3>Edita la actividad</h3>
		 <div class="has-feedback">
			    <input type="text" class="form-control" placeholder="Tarea a realizar" ng-model="tarea.nombre" value="{{tarea.nombre}}"> </input>
			    <span class="glyphicon glyphicon-tasks form-control-feedback"></span>
		 </div>
		<div>
			<span class="glyphicon glyphicon-time"></span>&nbsp;<span class="lead prioridad">Elige el nivel de consumo:</span>
			<label class="radio-inline">
				<input type="radio" ng-model="tarea.prioridad" value="0"> 1 a 2 veces
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="tarea.prioridad" value="1"> 3 veces
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="tarea.prioridad" value="2"> 4 veces o más
			</label>
		</div>
		<div class="text-center editBtn">
			<button class="btn" ng-click="actualizar()">Actualizar</button>
			<button id="btn2" class="btn" ng-click="eliminar()">Eliminar</button>
		</div>
	</form>
	<div>
		<a ui-sref="alta">Regresar</a>
	</div>