<h2>DERECHO AL AGUA</h2>
<label>El Estado debe garantizar el acceso a una cantidad suficiente de agua potable para el uso personal y doméstico de todas las personas. El derecho al agua está comprendido en normas internacionales de derechos humanos que comprenden obligaciones específicas en relación con el acceso al agua potable. Esas obligaciones exigen a los Estados que garanticen a todas las personas el acceso a una cantidad suficiente de agua potable para el uso personal y doméstico. Esto com­prende el consumo, el saneamiento, el lavado de ropa, la preparación de alimentos y la higiene personal y doméstica.</label>
<p>Para más información: <a href="https://www.cndh.org.mx/sites/default/files/documentos/2019-08/Derecho-Humano-Agua-PS.pdf">Derecho al agua potable</a>


