<form method="post">
	<h2>Iniciar Sesión</h2>

	<div class="form-group">
		<label for="exampleInputEmail1">Correo electrónico</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
	</div>

	<div class="form-group">
		<label for="exampleInputPassword1">Contraseña</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu contraseña">
		<small id="emailHelp" class="form-text text-muted">Nunca compartiremos su información personal con nadie más.</small>
	</div>

	<div class="form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1">
		<label class="form-check-label" for="exampleCheck1">Acepto términos y condiciones</label>
	</div>

	<!--<input type="text" placeholder="Usuario" name="correo" required>

	<input type="password" placeholder="Contraseña" name="password" required>-->
	
	<button class="btn" ng-click="iniciar()">Iniciar</button>
	
</form>